/* Header Two */
h1 {
  text-align: center;
  color: #000;
  font-family: monospace;
  font-size: 50px;
}
.home-page {
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  color: White;
}
/* Header Two */
h2 {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  padding: 0px;
}
/* Website Body Style */
body {
  background-image: url("../images/desk.jpg");
  background-size: cover;
}
.col-sm-8{
  background-color: white;
}
.keep-calm-image {
  float:left;
  max-width: 200px;
  height:auto;
  border-radius: 8px;
  margin-right: 10px;
}
.home1 {
  font-style: italic;
  color: White;
  text-align: center;
}
.home2 {
  text-align: left;
  color: White;
}


/* Banner stye */
.banner {
  width: 100%;
  margin: 0 auto;
  padding:0;
  height: 220px;
  weight: 100px;
  overflow: hidden;
  border: solid;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: none;
  border-width: 0px 0px 5px 0px;
}
/*Aligning social (awesome) icons */
.social {
  text-align: center;
}
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: auto;
}

/*Specific color for each*/
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
  background: #cc0099;
  color: white;
}
/* Pinterest */
.fa-pinterest {
    background: #cc0000;
    color: white;
}
/* Linkedin */
.fa-linkedin {
    background: #0099cc;
    color: white;
}

/* NAVIGATION */

.clearfix:after {
display:block;
clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
width:100%;
box-shadow:0px 1px 3px rgba(0,0,0,0.2);
background:#3e3436;
}
.menu {
width:1000px;
margin:0px auto;
}
.menu li {
margin:0px;
list-style:none;
font-family:'Ek Mukta';
}
.menu a {
transition:all linear 0.15s;
color:#919191;
}
.menu li:hover > a, .menu .current-item > a {
text-decoration:none;
color:#be5b70;
}

/* DROPDOWN ARROW */

.menu .arrow {
font-size:11px;
line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
float:left;
display:inline-block;
position:relative;
font-size:19px;
}
.menu > ul > li > a {
padding:10px 40px;
display:inline-block;
text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
background:#2e2728;
}

/*----- Bottom Level -----*/
.sub-menu {
width:160%;
padding:5px 0px;
position:absolute;
top:100%;
left:0px;
z-index:-1;
opacity:0;
transition:opacity linear 0.15s;
box-shadow:0px 2px 3px rgba(0,0,0,0.2);
background:#2e2728;
}

.menu li:hover .sub-menu {
z-index:1;
opacity:1;
}

.sub-menu li {
display:block;
font-size:16px;
}
.sub-menu li a {
padding:10px 30px;
display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
background:#3e3436;
}


/* Styling the Grid System */
.col-md-12_1 {
  background-color: rgba(26, 26, 26, 0.9);
  margin-left: 40px;
  margin-top: 20px;
  padding: 5px;
}

.col-md-12_2 {
  background-color: rgba(255, 255, 255, 0.9);
  margin-right: 40px;
  margin-top: 20px;
  padding: 5px;
}


/* Contact Page Styling */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
